.libs
.deps
.libs
.dirstamp
.DS_Store
.cdt*
.project
.gdb*
.idea

*.la
*.lo
*.o
*.so
*.a
*.dwarf
*.dSYM
*.S
*.loT
*.orig
*.rej
*.bak
*.class
*.xcscheme
*.out
*.plist
*.orig
*.obj
*.mod
*.i90
*.ii
*.ti
*.exe
*.log
*.trs
*.sapp
*~
*\\#

Makefile
Makefile.in

# hwloc and pmix have been de-modularized, but still uses parts of the
# MCA system due to the amount of glue code that ended up in the
# framework base.  Until that is cleaned up, do not ignore the
# hard-coded static-components.h file.
static-components.h
!opal/mca/hwloc/base/static-components.h
!opal/mca/pmix/base/static-components.h

*\\#
config.cache
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
doxygen
bin
lib
cscope.*
etags
GRTAGS
GSYMS
GTAGS
GPATH
vc70.pdb
.hgrc
.hgignore
.hg
.hgignore_local
stamp-h?
AUTHORS

ar-lib
ylwrap
config.lt
config.guess
config.sub
depcomp
compile
install-sh
ltmain.sh
missing
mkinstalldirs
libtool.m4
lt~obsolete.m4
ltdl.m4
argz.m4
ltargz.m4
ltsugar.m4
ltversion.m4
ltoptions.m4

# Libevent and hwloc are included as a tarball.  Ignore any expanded
# tarballs, since they are not included in git.  Do not ignore the
# tarballs themselves, and those are artifacts we will store in git.
3rd-party/libevent-*
!3rd-party/libevent-*.tar.*
3rd-party/hwloc-*
!3rd-party/hwloc-*.tar.*
3rd-party/treematch/config.h

3rd-party/romio341/adio/include/romioconf.h
3rd-party/romio341/adio/include/romioconf.h.in
3rd-party/romio341/include/mpio.h
3rd-party/romio341/localdefs
3rd-party/romio341/mpl/confdb/test-driver
3rd-party/romio341/mpl/include/config.h
3rd-party/romio341/mpl/include/config.h.in
3rd-party/romio341/mpl/include/mplconfig.h
3rd-party/romio341/mpl/include/mpl_timer.h
3rd-party/romio341/mpl/localdefs
3rd-party/romio341/test/runtests
3rd-party/romio341/test/fcoll_test.f
3rd-party/romio341/test/fmisc.f
3rd-party/romio341/test/fperf.f
3rd-party/romio341/test/large_file.c
3rd-party/romio341/test/misc.c
3rd-party/romio341/test/pfcoll_test.f
3rd-party/romio341/util/romioinstall

config/project_list.m4
config/autogen_found_items.m4
config/opal_get_version.sh
config/test-driver
config/mca_no_configure_components.m4
config/mca_m4_config_include.m4
config/ext_no_configure_components.m4
config/ext_m4_config_include.m4
config/auto-extracted-pmix-configure-args.m4
config/auto-extracted-prrte-configure-args.m4
config/auto-generated-ompi-exclude.ini

contrib/build-mca-comps-outside-of-tree/btl_tcp2_config.h
contrib/build-mca-comps-outside-of-tree/btl_tcp2_config.h.in
contrib/build-mca-comps-outside-of-tree/config
contrib/build-mca-comps-outside-of-tree/aclocal.m4
contrib/dist/linux/compile_debian_mlnx_example
contrib/dist/mofed/compile_debian_mlnx_example
contrib/dist/mofed/debian/changelog
contrib/dist/mofed/debian/control
contrib/dist/mofed/debian/copyright
contrib/dist/mofed/debian/rules
contrib/platform/intel/bend/*orcm*
contrib/scaling/orte_no_op
contrib/scaling/mpi_no_op
contrib/scaling/mpi_barrier
contrib/scaling/mpi_memprobe

examples/hello_c
examples/hello_cxx
examples/hello_mpifh
examples/hello_usempi
examples/hello_usempif08
examples/ring_c
examples/ring_cxx
examples/ring_mpifh
examples/ring_usempi
examples/ring_usempif08
examples/connectivity_c
examples/ring_oshmem
examples/hello_oshmem
examples/ring_oshmemfh
examples/hello_oshmemfh
examples/hello_oshmemcxx
examples/oshmem_circular_shift
examples/oshmem_max_reduction
examples/oshmem_shmalloc
examples/oshmem_strided_puts
examples/oshmem_symmetric_data
examples/spc_example

ompi/debuggers/*.in
ompi/debuggers/dlopen_test
ompi/debuggers/predefined_gap_test
ompi/debuggers/predefined_pad_test

ompi/include/mpi.h
ompi/include/mpif-config.h
ompi/include/mpif.h
ompi/include/mpif-c-constants-decl.h
ompi/include/mpif-c-constants.h
ompi/include/mpif-common.h
ompi/include/mpi-ext.h
ompi/include/mpif-ext.h
ompi/include/mpif-f08-types.h
ompi/include/mpif-handles.h
ompi/include/mpif-io-constants.h
ompi/include/mpif-constants.h
ompi/include/mpif-io-handles.h
ompi/include/mpif-sizeof.h
ompi/include/mpi_portable_platform.h
ompi/include/ompi/version.h
ompi/include/ompi/frameworks.h

ompi/mca/coll/basic/coll-basic-version.h*
ompi/mca/coll/demo/config
ompi/mca/coll/demo/coll_demo_config.h*
ompi/mca/coll/demo/coll-demo-version.h*
ompi/mca/coll/ml/coll_ml_lex.c
ompi/mca/coll/self/coll-self-version.h*
ompi/mca/coll/sm/coll-sm-version.h*

ompi/mca/osc/monitoring/osc_monitoring_template_gen.h

ompi/mca/pml/v/autogen.vprotocols
ompi/mca/pml/v/mca_vprotocol_config_output

ompi/mca/sharedfp/addproc/mca_sharedfp_addproc_control

ompi/mca/topo/treematch/config.h

ompi/mpi/c/profile/p*.c

ompi/mpi/fortran/configure-fortran-output.h
ompi/mpi/fortran/mpiext/mpi-ext-module.F90
ompi/mpi/fortran/mpiext/mpi-f08-ext-module.F90
ompi/mpi/fortran/mpiext-use-mpi/mpi-ext-module.F90
ompi/mpi/fortran/mpiext-use-mpi-f08/mpi-f08-ext-module.F90

ompi/mpi/fortran/mpif-h/sizeof_f.f90
ompi/mpi/fortran/mpif-h/profile/p*.c
ompi/mpi/fortran/mpif-h/profile/psizeof_f.f90

ompi/mpi/fortran/use-mpi/mpi-types.F90

ompi/mpi/fortran/use-mpi-f08/mod/mpi-f08-constants.h
ompi/mpi/fortran/use-mpi-f08/mod/mpi-f08-interfaces.h
ompi/mpi/fortran/use-mpi-f08/sizeof_f08.f90
ompi/mpi/fortran/use-mpi-f08/sizeof_f08.h
ompi/mpi/fortran/use-mpi-f08/profile/psizeof_f08.f90
ompi/mpi/fortran/use-mpi-f08/profile/*.F90

ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-interfaces.h
ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-file-interfaces.h
ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-sizeof.f90
ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-sizeof.h
ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-removed-interfaces.h

ompi/mpi/fortran/use-mpi-tkr/fortran_kinds.sh
ompi/mpi/fortran/use-mpi-tkr/fortran_sizes.h
ompi/mpi/fortran/use-mpi-tkr/mpi_kinds.ompi_module
ompi/mpi/fortran/use-mpi-tkr/mpi-tkr-sizeof.f90
ompi/mpi/fortran/use-mpi-tkr/mpi-tkr-sizeof.h

ompi/mpi/java/java/mpi
ompi/mpi/java/java/*.jar
ompi/mpi/java/java/*.h
ompi/mpi/java/java/doc

ompi/mpi/tool/profile/*.c

ompi/mpiext/affinity/c/example

ompi/mpiext/ftmpi/c/profile/pcomm_agree.c
ompi/mpiext/ftmpi/c/profile/pcomm_failure_ack.c
ompi/mpiext/ftmpi/c/profile/pcomm_failure_get_acked.c
ompi/mpiext/ftmpi/c/profile/pcomm_iagree.c
ompi/mpiext/ftmpi/c/profile/pcomm_is_revoked.c
ompi/mpiext/ftmpi/c/profile/pcomm_revoke.c
ompi/mpiext/ftmpi/c/profile/pcomm_shrink.c
ompi/mpiext/ftmpi/c/profile/pcomm_ack_failed.c
ompi/mpiext/ftmpi/c/profile/pcomm_get_failed.c
ompi/mpiext/ftmpi/c/profile/pcomm_ishrink.c

ompi/mpiext/example/tests/progress_c
ompi/mpiext/example/tests/progress_mpifh
ompi/mpiext/example/tests/progress_usempi
ompi/mpiext/example/tests/progress_usempif08

ompi/mpiext/cuda/c/mpiext_cuda_c.h
ompi/mpiext/cuda/c/cuda_c.h

ompi/mpiext/rocm/c/mpiext_rocm_c.h

ompi/mpiext/shortfloat/c/mpiext_shortfloat_c.h
ompi/mpiext/shortfloat/mpif-h/mpiext_shortfloat_mpifh.h
ompi/mpiext/shortfloat/use-mpi-f08/mpiext_shortfloat_usempif08.h

ompi/tools/mpisync/mpisync
ompi/tools/mpisync/mpirun_prof
ompi/tools/mpisync/ompi_timing_post
ompi/tools/mpirun/mpirun

ompi/tools/ompi_info/ompi_info

ompi/tools/wrappers/mpic++-wrapper-data.txt
ompi/tools/wrappers/mpicc-wrapper-data.txt
ompi/tools/wrappers/mpifort-wrapper-data.txt
ompi/tools/wrappers/ompi_wrapper_script
ompi/tools/wrappers/ompi.pc
ompi/tools/wrappers/ompi-c.pc
ompi/tools/wrappers/ompi-cxx.pc
ompi/tools/wrappers/ompi-fort.pc
ompi/tools/wrappers/mpijavac.pl
ompi/tools/wrappers/mpicxx-wrapper-data.txt
ompi/tools/wrappers/mpif77-wrapper-data.txt
ompi/tools/wrappers/mpif90-wrapper-data.txt

opal/asm/atomic-asm.S
opal/asm/atomic-test
opal/asm/generated/atomic-*.s

opal/include/opal_config.h
opal/include/opal_config.h.in
opal/include/opal/install_dirs.h
opal/include/opal/version.h
opal/include/opal/frameworks.h
opal/include/opal/sys/powerpc/atomic-32.s
opal/include/opal/sys/powerpc/atomic-64.s
opal/include/opal/sys/powerpc/atomic-32-64.s

opal/mca/base/mca_base_parse_paramfile_lex.c

opal/mca/btl/usnic/usnic_btl_run_tests

opal/mca/event/libevent*/libevent/config.h.in
opal/mca/event/libevent*/libevent/config.h
opal/mca/event/libevent*/libevent/libevent.pc
opal/mca/event/libevent*/libevent/libevent_openssl.pc
opal/mca/event/libevent*/libevent/libevent_pthreads.pc
opal/mca/event/libevent*/libevent/include/event2/event-config.h

opal/mca/installdirs/config/install_dirs.h

opal/tools/wrappers/opalcc-wrapper-data.txt
opal/tools/wrappers/opalc++-wrapper-data.txt
opal/tools/wrappers/opalCC-wrapper-data.txt
opal/tools/wrappers/opal_wrapper
opal/tools/wrappers/opal.pc

opal/util/show_help_lex.c
opal/util/keyval/keyval_lex.c

test/simple/abort
test/simple/accept
test/simple/attach
test/simple/bad_exit
test/simple/bcast_loop
test/simple/binding
test/simple/concurrent_spawn
test/simple/connect
test/simple/crisscross
test/simple/delayed_abort
test/simple/hello_barrier
test/simple/hello_nodename
test/simple/hello_output
test/simple/hello_show_help
test/simple/hello
test/simple/hello++
test/simple/intercomm1
test/simple/interlib
test/simple/loop_child
test/simple/loop_spawn
test/simple/mpi_barrier
test/simple/mpi_no_op
test/simple/mpi_spin
test/simple/multi_abort
test/simple/parallel_r8
test/simple/parallel_r64
test/simple/parallel_w8
test/simple/parallel_w64
test/simple/pinterlib
test/simple/pmix
test/simple/pubsub
test/simple/read_write
test/simple/reduce-hang
test/simple/ring
test/simple/segv
test/simple/simple_spawn
test/simple/slave
test/simple/spawn_multiple
test/simple/xlib
test/simple/ziaprobe
test/simple/ziatest
test/simple/*.dwarf
test/simple/junk*
test/simple/sio
test/simple/sendrecv_blaster
test/simple/early_abort
test/simple/spawn_problem/ch_rec
test/simple/spawn_problem/output
test/simple/spawn_problem/start
test/simple/debugger
test/simple/server_port_name.txt
test/simple/singleton_client_server
test/simple/intercomm_create
test/simple/spawn_tree
test/simple/init-exit77
test/simple/mpi_info
test/simple/info_spawn
test/simple/client
test/simple/server
test/simple/paccept
test/simple/pconnect
test/simple/thread_init
test/simple/memcached-dummy
test/simple/coll_test
test/simple/badcoll
test/simple/iof
test/simple/no-disconnect
test/simple/nonzero
test/simple/add_host

oshmem/include/shmem.h
oshmem/include/shmem_portable_platform.h
oshmem/include/oshmem/frameworks.h
oshmem/include/oshmem/version.h

oshmem/mca/sshmem/base/static-components.h

oshmem/shmem/c/profile/p*.c
oshmem/shmem/c/profile/*.c

oshmem/shmem/fortran/libshmem_fortran.la
oshmem/shmem/fortran/profile/pshmem_*_f.c
oshmem/shmem/fortran/profile/pshpdeallc_f.c
oshmem/shmem/fortran/profile/pshpclmove_f.c
oshmem/shmem/fortran/profile/pmy_pe_f.c
oshmem/shmem/fortran/profile/pshpalloc_f.c
oshmem/shmem/fortran/profile/pnum_pes_f.c
oshmem/shmem/fortran/profile/pstart_pes_f.c

oshmem/tools/oshmem_info/oshmem_info

oshmem/tools/wrappers/oshmem-c.pc
oshmem/tools/wrappers/oshmem-cxx.pc
oshmem/tools/wrappers/oshmem-fort.pc
oshmem/tools/wrappers/oshmem.pc
oshmem/tools/wrappers/shmemcc-wrapper-data.txt
oshmem/tools/wrappers/shmemfort-wrapper-data.txt
oshmem/tools/wrappers/shmemc++-wrapper-data.txt

test/asm/atomic_math_noinline
test/asm/atomic_barrier
test/asm/atomic_cmpset_noinline
test/asm/atomic_math
test/asm/atomic_cmpset
test/asm/atomic_spinlock_noinline.c
test/asm/atomic_barrier_noinline.c
test/asm/atomic_math_noinline.c
test/asm/atomic_cmpset_noinline.c
test/asm/atomic_spinlock_noinline
test/asm/atomic_barrier_noinline
test/asm/atomic_spinlock

test/class/*.txt
test/class/ompi_bitmap_test_out.txt
test/class/ompi_circular_buffer_fifo
test/class/ompi_fifo
test/class/ompi_rb_tree
test/class/ompi_bitmap
test/class/opal_bitmap
test/class/opal_fifo
test/class/opal_cstring
test/class/opal_hash_table
test/class/opal_lifo
test/class/opal_list
test/class/opal_pointer_array
test/class/opal_proc_table
test/class/opal_tree
test/class/opal_value_array

test/datatype/ddt_test
test/datatype/ddt_pack
test/datatype/external32
test/datatype/to_self
test/datatype/checksum
test/datatype/position
test/datatype/ddt_raw
test/datatype/opal_datatype_test
test/datatype/position_noncontig
test/datatype/unpack_ooo
test/datatype/unpack_hetero

test/event/signal-test
test/event/event-test
test/event/time-test

test/monitoring/monitoring_test
test/monitoring/check_monitoring
test/monitoring/example_reduce_count
test/monitoring/test_overhead
test/monitoring/test_pvar_access

test/mpi/environment/chello

test/runtime/parse_context
test/runtime/sigchld
test/runtime/start_shut
test/runtime/opal_init_finalize
test/runtime/orte_init_finalize

test/spc/spc_test

test/threads/opal_condition
test/threads/opal_thread

test/util/aaa
test/util/test_session_dir_out
test/util/opal_os_path
test/util/opal_argv
test/util/opal_os_create_dirpath
test/util/opal_if
test/util/opal_error
test/util/opal_timer
test/util/orte_sys_info
test/util/orte_session_dir
test/util/orte_sys_info
test/util/orte_universe_setup_file_io
test/util/opal_basename
test/util/ompi_numtostr
test/util/ompi_pack
test/util/test-file
test/util/opal_sos
test/util/opal_path_nfs
test/util/opal_path_nfs.out
test/util/opal_bit_ops
test/util/bipartite_graph
test/util/opal_sha256

opal/test/reachable/reachable_netlink
opal/test/reachable/reachable_weighted
opal/mca/threads/argobots/threads_argobots.h
opal/mca/threads/qthreads/threads_qthreads.h

docs/_build
docs/_static
docs/_static/css/custom.css
docs/_templates

# Common Python virtual environment directory names
venv
py??

# Copies of PRRTE RST files (i.e., not source controlled in this tree)
docs/prrte-rst-content
docs/schizo-ompi-rst-content

# Copies of the built HTML docs and man pages (for distribution
# tarballs)
docs/html
docs/man
