[submodule "prrte"]
	path = 3rd-party/prrte
	url = https://github.com/openpmix/prrte
	branch = master
[submodule "openpmix"]
	path = 3rd-party/openpmix
	url = https://github.com/openpmix/openpmix.git
	branch = master
