.libs
.deps
.libs
.dirstamp
.DS_Store
.cdt*
.project
.gdb*

.hgrc
.hgignore
.hg
.hgignore_local

*.la
*.lo
*.o
*.so
*.a
*.dwarf
*.dSYM
*.S
*.loT
*.orig
*.rej
*.bak
*.class
*.xcscheme
*.out
*.plist
*.orig
*.obj
*.mod
*.i90
*.ii
*.ti
*.exe
*.log
*.trs
*~
*\\#

Makefile
Makefile.in
static-components.h
*\\#
config.cache
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
doxygen
bin
lib
cscope.*
etags
GRTAGS
GSYMS
GTAGS
GPATH
vc70.pdb
.hgrc
.hgignore
.hg
.hgignore_local
stamp-h?

ar-lib
ylwrap
config.lt
config.guess
config.sub
depcomp
compile
install-sh
ltmain.sh
missing
mkinstalldirs
libtool.m4
lt~obsolete.m4
ltdl.m4
argz.m4
ltargz.m4
ltsugar.m4
ltversion.m4
ltoptions.m4

config/project_list.m4
config/autogen_found_items.m4
config/opal_get_version.sh
config/test-driver
config/mca_no_configure_components.m4
config/mca_m4_config_include.m4
config/ext_no_configure_components.m4
config/ext_m4_config_include.m4

contrib/build-mca-comps-outside-of-tree/btl_tcp2_config.h
contrib/build-mca-comps-outside-of-tree/btl_tcp2_config.h.in
contrib/build-mca-comps-outside-of-tree/config
contrib/build-mca-comps-outside-of-tree/aclocal.m4
contrib/dist/linux/compile_debian_mlnx_example
contrib/dist/mofed/compile_debian_mlnx_example
contrib/dist/mofed/debian/changelog
contrib/dist/mofed/debian/control
contrib/dist/mofed/debian/copyright
contrib/dist/mofed/debian/rules
contrib/platform/intel/bend/*orcm*
contrib/scaling/orte_no_op
contrib/scaling/mpi_no_op
contrib/scaling/mpi_barrier

examples/hello_c
examples/hello_cxx
examples/hello_mpifh
examples/hello_usempi
examples/hello_usempif08
examples/ring_c
examples/ring_cxx
examples/ring_mpifh
examples/ring_usempi
examples/ring_usempif08
examples/connectivity_c
examples/ring_oshmem
examples/hello_oshmem
examples/ring_oshmemfh
examples/hello_oshmemfh
examples/oshmem_circular_shift
examples/oshmem_max_reduction
examples/oshmem_shmalloc
examples/oshmem_strided_puts
examples/oshmem_symmetric_data

ompi/debuggers/*.in
ompi/debuggers/dlopen_test
ompi/debuggers/predefined_gap_test
ompi/debuggers/predefined_pad_test

ompi/include/mpi.h
ompi/include/mpif-config.h
ompi/include/mpif.h
ompi/include/mpif-common.h
ompi/include/mpi-ext.h
ompi/include/mpif-ext.h
ompi/include/mpif-handles.h
ompi/include/mpif-io-constants.h
ompi/include/mpif-constants.h
ompi/include/mpif-io-handles.h
ompi/include/mpif-sizeof.h
ompi/include/mpi_portable_platform.h
ompi/include/ompi/version.h
ompi/include/ompi/frameworks.h

ompi/mca/coll/basic/coll-basic-version.h*
ompi/mca/coll/demo/config
ompi/mca/coll/demo/coll_demo_config.h*
ompi/mca/coll/demo/coll-demo-version.h*
ompi/mca/coll/ml/coll_ml_lex.c
ompi/mca/coll/self/coll-self-version.h*
ompi/mca/coll/sm/coll-sm-version.h*

ompi/mca/crcp/ompi_crcp.7

ompi/mca/io/romio/io-romio-version.h*
ompi/mca/io/romio/romio/lib
ompi/mca/io/romio/romio/localdefs
ompi/mca/io/romio/romio/adio/include/romioconf.h
ompi/mca/io/romio/romio/adio/include/romioconf.h.in
ompi/mca/io/romio/romio/confdb/.placeholder
ompi/mca/io/romio/romio/include/mpio.h
ompi/mca/io/romio/romio/include/mpiof.h
ompi/mca/io/romio/romio/mpi-io/glue/openmpi/io_romio_mpio_file.c
ompi/mca/io/romio/romio/mpi-io/glue/openmpi/io_romio_mpio_err.c
ompi/mca/io/romio/romio/test/runtests
ompi/mca/io/romio/romio/test/large_file.c
ompi/mca/io/romio/romio/test/misc.c
ompi/mca/io/romio/romio/test/fcoll_test.f
ompi/mca/io/romio/romio/test/fmisc.f
ompi/mca/io/romio/romio/test/fperf.f
ompi/mca/io/romio/romio/test/pfcoll_test.f
ompi/mca/io/romio/romio/test/status
ompi/mca/io/romio/romio/test/coll_test
ompi/mca/io/romio/romio/test/atomicity
ompi/mca/io/romio/romio/test/async-multiple
ompi/mca/io/romio/romio/test/i_noncontig
ompi/mca/io/romio/romio/test/noncontig_coll2
ompi/mca/io/romio/romio/test/large_file
ompi/mca/io/romio/romio/test/shared_fp
ompi/mca/io/romio/romio/test/misc
ompi/mca/io/romio/romio/test/perf
ompi/mca/io/romio/romio/test/noncontig
ompi/mca/io/romio/romio/test/split_coll
ompi/mca/io/romio/romio/test/psimple
ompi/mca/io/romio/romio/test/async
ompi/mca/io/romio/romio/test/large_array
ompi/mca/io/romio/romio/test/simple
ompi/mca/io/romio/romio/test/error
ompi/mca/io/romio/romio/test/file_info
ompi/mca/io/romio/romio/test/coll_perf
ompi/mca/io/romio/romio/test/aggregation1
ompi/mca/io/romio/romio/test/aggregation2
ompi/mca/io/romio/romio/test/excl
ompi/mca/io/romio/romio/test/noncontig_coll
ompi/mca/io/romio/romio/test/ordered_fp
ompi/mca/io/romio/romio/test/hindexed
ompi/mca/io/romio/romio/util/romioinstall
ompi/mca/io/romio/src/romio_config.h
ompi/mca/io/romio/src/romio_config.h.in

ompi/mca/pml/v/autogen.vprotocols
ompi/mca/pml/v/mca_vprotocol_config_output

ompi/mca/rte/orte/ompi-ps.1
ompi/mca/rte/orte/ompi-clean.1
ompi/mca/rte/orte/mpiexec.1
ompi/mca/rte/orte/ompi-top.1
ompi/mca/rte/orte/ompi-server.1
ompi/mca/rte/orte/ompi-restart.1
ompi/mca/rte/orte/ompi-checkpoint.1
ompi/mca/rte/orte/mpirun.1

ompi/mca/sharedfp/addproc/mca_sharedfp_addproc_control

ompi/mpi/c/profile/p*.c

ompi/mpi/fortran/configure-fortran-output.h
ompi/mpi/fortran/mpiext/mpi-ext-module.F90
ompi/mpi/fortran/mpiext/mpi-f08-ext-module.F90

ompi/mpi/fortran/mpif-h/sizeof_f.f90
ompi/mpi/fortran/mpif-h/profile/p*.c
ompi/mpi/fortran/mpif-h/profile/psizeof_f.f90

ompi/mpi/fortran/use-mpi-f08/constants.h
ompi/mpi/fortran/use-mpi-f08/sizeof_f08.f90
ompi/mpi/fortran/use-mpi-f08/sizeof_f08.h
ompi/mpi/fortran/use-mpi-f08/profile/psizeof_f08.f90

ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-interfaces.h
ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-file-interfaces.h
ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-sizeof.f90
ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-sizeof.h

ompi/mpi/fortran/use-mpi-tkr/fortran_kinds.sh
ompi/mpi/fortran/use-mpi-tkr/fortran_sizes.h
ompi/mpi/fortran/use-mpi-tkr/mpi_kinds.ompi_module

ompi/mpi/java/java/mpi
ompi/mpi/java/java/*.jar
ompi/mpi/java/java/*.h
ompi/mpi/java/java/doc

ompi/mpi/man/man3/MPI*.3
ompi/mpi/man/man3/OpenMPI.3
ompi/mpi/man/man3/.dir-stamp

ompi/mpi/tool/profile/*.c

ompi/mpiext/affinity/c/OMPI_Affinity_str.3
ompi/mpiext/affinity/c/example

ompi/mpiext/example/tests/progress_c
ompi/mpiext/example/tests/progress_mpifh
ompi/mpiext/example/tests/progress_usempi
ompi/mpiext/example/tests/progress_usempif08

ompi/tools/mpisync/mpisync
ompi/tools/mpisync/mpirun_prof
ompi/tools/mpisync/ompi_timing_post

ompi/tools/ompi_info/ompi_info
ompi/tools/ompi_info/ompi_info.1

ompi/tools/wrappers/mpic++-wrapper-data.txt
ompi/tools/wrappers/mpicc-wrapper-data.txt
ompi/tools/wrappers/mpifort-wrapper-data.txt
ompi/tools/wrappers/mpicc.1
ompi/tools/wrappers/mpic++.1
ompi/tools/wrappers/mpicxx.1
ompi/tools/wrappers/mpifort.1
ompi/tools/wrappers/ompi_wrapper_script
ompi/tools/wrappers/ompi.pc
ompi/tools/wrappers/ompi-c.pc
ompi/tools/wrappers/ompi-cxx.pc
ompi/tools/wrappers/ompi-fort.pc
ompi/tools/wrappers/mpijavac.pl
ompi/tools/wrappers/mpif90.1
ompi/tools/wrappers/mpif77.1
ompi/tools/wrappers/mpicxx-wrapper-data.txt
ompi/tools/wrappers/mpif77-wrapper-data.txt
ompi/tools/wrappers/mpif90-wrapper-data.txt

opal/libltdl

opal/asm/atomic-asm.S
opal/asm/atomic-test
opal/asm/generated/atomic-*.s

opal/include/opal_config.h
opal/include/opal_config.h.in
opal/include/opal/install_dirs.h
opal/include/opal/version.h
opal/include/opal/frameworks.h
opal/include/opal/sys/powerpc/atomic-32.s
opal/include/opal/sys/powerpc/atomic-64.s
opal/include/opal/sys/powerpc/atomic-32-64.s

opal/mca/base/mca_base_parse_paramfile_lex.c

opal/mca/common/libfabric/libfabric/config.h

opal/mca/btl/openib/btl_openib_lex.c

opal/mca/btl/usnic/usnic_btl_run_tests

opal/mca/crs/opal_crs.7

opal/mca/event/libevent*/libevent/config.h.in
opal/mca/event/libevent*/libevent/config.h
opal/mca/event/libevent*/libevent/libevent.pc
opal/mca/event/libevent*/libevent/libevent_openssl.pc
opal/mca/event/libevent*/libevent/libevent_pthreads.pc
opal/mca/event/libevent*/libevent/include/event2/event-config.h

opal/mca/hwloc/hwloc*/hwloc/include/hwloc/autogen/config.h
opal/mca/hwloc/hwloc*/hwloc/include/private/autogen/config.h

opal/mca/installdirs/config/install_dirs.h

opal/tools/opal-checkpoint/opal-checkpoint
opal/tools/opal-checkpoint/opal-checkpoint.1
opal/tools/opal-restart/opal-restart
opal/tools/opal-restart/opal-restart.1

opal/tools/wrappers/opalcc-wrapper-data.txt
opal/tools/wrappers/opalc++-wrapper-data.txt
opal/tools/wrappers/opalCC-wrapper-data.txt
opal/tools/wrappers/opal_wrapper
opal/tools/wrappers/opalcc.1
opal/tools/wrappers/opalc++.1
opal/tools/wrappers/generic_wrapper.1
opal/tools/wrappers/opal_wrapper.1
opal/tools/wrappers/opal.pc

opal/util/show_help_lex.c
opal/util/keyval/keyval_lex.c

orte/doxygen

orte/include/orte/version.h
orte/include/orte/frameworks.h

orte/mca/filem/orte_filem.7

orte/mca/rmaps/rank_file/rmaps_rank_file_lex.c
orte/mca/rmaps/rank_file/rankfile_lex.c

orte/mca/snapc/orte_snapc.7

orte/mca/sstore/orte_sstore.7

orte/test/mpi/abort
orte/test/mpi/accept
orte/test/mpi/bad_exit
orte/test/mpi/bcast_loop
orte/test/mpi/concurrent_spawn
orte/test/mpi/connect
orte/test/mpi/crisscross
orte/test/mpi/delayed_abort
orte/test/mpi/hello_barrier
orte/test/mpi/hello_nodename
orte/test/mpi/hello_output
orte/test/mpi/hello_show_help
orte/test/mpi/hello
orte/test/mpi/hello++
orte/test/mpi/loop_child
orte/test/mpi/loop_spawn
orte/test/mpi/mpi_barrier
orte/test/mpi/mpi_no_op
orte/test/mpi/mpi_spin
orte/test/mpi/multi_abort
orte/test/mpi/parallel_r8
orte/test/mpi/parallel_r64
orte/test/mpi/parallel_w8
orte/test/mpi/parallel_w64
orte/test/mpi/pubsub
orte/test/mpi/read_write
orte/test/mpi/reduce-hang
orte/test/mpi/segv
orte/test/mpi/simple_spawn
orte/test/mpi/slave
orte/test/mpi/spawn_multiple
orte/test/mpi/ziaprobe
orte/test/mpi/ziatest
orte/test/mpi/*.dwarf
orte/test/mpi/junk*
orte/test/mpi/sio
orte/test/mpi/sendrecv_blaster
orte/test/mpi/early_abort
orte/test/mpi/spawn_problem/ch_rec
orte/test/mpi/spawn_problem/output
orte/test/mpi/spawn_problem/start
orte/test/mpi/debugger
orte/test/mpi/server_port_name.txt
orte/test/mpi/singleton_client_server
orte/test/mpi/intercomm_create
orte/test/mpi/spawn_tree
orte/test/mpi/init-exit77
orte/test/mpi/mpi_info
orte/test/mpi/info_spawn
orte/test/mpi/client
orte/test/mpi/server
orte/test/mpi/paccept
orte/test/mpi/pconnect
orte/test/mpi/thread_init
orte/test/mpi/memcached-dummy
orte/test/mpi/coll_test

orte/test/system/radix
orte/test/system/sigusr_trap
orte/test/system/orte_no_op
orte/test/system/no_op
orte/test/system/hello
orte/test/system/hello_nodename
orte/test/system/hello_null
orte/test/system/spin
orte/test/system/orte_nodename
orte/test/system/orte_proc_subscribe
orte/test/system/orte_spawn
orte/test/system/orte_stage_gate
orte/test/system/orte_loop_spawn
orte/test/system/orte_loop_child
orte/test/system/orte_abort
orte/test/system/get_limits
orte/test/system/orte_ring
orte/test/system/spawn_child
orte/test/system/orte_tool
orte/test/system/binom
orte/test/system/iof_stress
orte/test/system/oob_stress
orte/test/system/iof_delay
orte/test/system/orte_barrier
orte/test/system/orte_mcast
orte/test/system/mcast
orte/test/system/mcast_recv
orte/test/system/opal_interface
orte/test/system/orte_spin
orte/test/system/segfault
orte/test/system/sysinfo
orte/test/system/orte_exit
orte/test/system/orte_db
orte/test/system/orte_state
orte/test/system/orte_sensor
orte/test/system/event-threads
orte/test/system/test-time
orte/test/system/psm_keygen
orte/test/system/regex
orte/test/system/orte_errors
orte/test/system/evthread-test
orte/test/system/evpri-test
orte/test/system/opal-evpri-test
orte/test/system/evpri-test2
orte/test/system/mapper
orte/test/system/reducer
orte/test/system/opal_hotel
orte/test/system/orte_dfs
orte/test/system/orte_allocate
orte/test/system/getenv_pmi
orte/test/system/pmi_abort
orte/test/system/opal_hwloc
orte/test/system/opal_db

orte/tools/orte-checkpoint/orte-checkpoint
orte/tools/orte-checkpoint/orte-checkpoint.1
orte/tools/orte-checkpoint/ompi-checkpoint.1
orte/tools/orte-clean/orte-clean
orte/tools/orte-clean/orte-clean.1
orte/tools/orte-dvm/orte-dvm
orte/tools/orte-dvm/orte-dvm.1
ompi/mca/rte/orte/ompi-dvm.1
orte/tools/orte-info/orte-info
orte/tools/orte-info/orte-info.1
orte/tools/orte-migrate/orte-migrate
orte/tools/orte-migrate/orte-migrate.1
orte/tools/orte-migrate/ompi-migrate.1
orte/tools/orte-ps/orte-ps
orte/tools/orte-ps/orte-ps.1
orte/tools/orte-restart/orte-restart
orte/tools/orte-restart/orte-restart.1
orte/tools/orte-restart/ompi-restart.1
orte/tools/orte-server/orte-server
orte/tools/orte-server/orte-server.1
orte/tools/orte-submit/orte-submit
orte/tools/orte-submit/orte-submit.1
ompi/mca/rte/orte/ompi-submit.1
orte/tools/orte-top/orte-top
orte/tools/orte-top/orte-top.1
orte/tools/orted/orted
orte/tools/orted/orted.1
orte/tools/orterun/orterun
orte/tools/orterun/orterun.1
orte/tools/wrappers/ortecc-wrapper-data.txt
orte/tools/wrappers/ortec++-wrapper-data.txt
orte/tools/wrappers/ortecc.1
orte/tools/wrappers/ortec++.1
orte/tools/wrappers/orte_wrapper_script
orte/tools/wrappers/orte.pc

orte/util/hostfile/hostfile_lex.c
orte/util/hostfile/orte_hosts.7

oshmem/include/shmem.h
oshmem/include/shmem_portable_platform.h
oshmem/include/oshmem/frameworks.h
oshmem/include/oshmem/version.h

oshmem/mca/sshmem/base/static-components.h

oshmem/shmem/c/profile/p*.c
oshmem/shmem/c/profile/*.c

oshmem/shmem/fortran/libshmem_fortran.la
oshmem/shmem/fortran/profile/pshmem_*_f.c
oshmem/shmem/fortran/profile/pshpdeallc_f.c
oshmem/shmem/fortran/profile/pshpclmove_f.c
oshmem/shmem/fortran/profile/pmy_pe_f.c
oshmem/shmem/fortran/profile/pshpalloc_f.c
oshmem/shmem/fortran/profile/pnum_pes_f.c
oshmem/shmem/fortran/profile/pstart_pes_f.c

oshmem/shmem/java/java/shmem.jar
oshmem/shmem/java/java/doc
oshmem/shmem/java/java/shmem_Constant.h
oshmem/shmem/java/java/shmem_ShMem.h
oshmem/shmem/java/java/shmem
oshmem/shmem/java/java/shmem_Addr.h
oshmem/shmem/java/java/shmem_PSync.h

oshmem/tools/oshmem_info/oshmem_info
oshmem/tools/oshmem_info/oshmem_info.1

oshmem/tools/wrappers/shmemcc-wrapper-data.txt
oshmem/tools/wrappers/shmemfort-wrapper-data.txt

test/asm/atomic_math_noinline
test/asm/atomic_barrier
test/asm/atomic_cmpset_noinline
test/asm/atomic_math
test/asm/atomic_cmpset
test/asm/atomic_spinlock_noinline.c
test/asm/atomic_barrier_noinline.c
test/asm/atomic_math_noinline.c
test/asm/atomic_cmpset_noinline.c
test/asm/atomic_spinlock_noinline
test/asm/atomic_barrier_noinline
test/asm/atomic_spinlock

test/class/*.txt
test/class/ompi_bitmap_test_out.txt
test/class/ompi_circular_buffer_fifo
test/class/ompi_fifo
test/class/ompi_rb_tree
test/class/ompi_bitmap
test/class/opal_bitmap
test/class/opal_fifo
test/class/opal_hash_table
test/class/opal_lifo
test/class/opal_list
test/class/opal_pointer_array
test/class/opal_proc_table
test/class/opal_tree
test/class/opal_value_array

test/datatype/ddt_test
test/datatype/ddt_pack
test/datatype/to_self
test/datatype/checksum
test/datatype/position
test/datatype/ddt_raw
test/datatype/opal_datatype_test
test/datatype/position_noncontig
test/datatype/unpack_ooo

test/dss/dss_buffer
test/dss/dss_copy
test/dss/dss_size
test/dss/dss_cmp
test/dss/dss_release
test/dss/dss_payload
test/dss/dss_set_get
test/dss/dss_print

test/event/signal-test
test/event/event-test
test/event/time-test

test/mpi/environment/chello

test/runtime/parse_context
test/runtime/sigchld
test/runtime/start_shut
test/runtime/opal_init_finalize
test/runtime/orte_init_finalize

test/threads/opal_condition
test/threads/opal_thread

test/util/aaa
test/util/test_session_dir_out
test/util/opal_os_path
test/util/opal_argv
test/util/opal_os_create_dirpath
test/util/opal_if
test/util/opal_error
test/util/opal_timer
test/util/orte_sys_info
test/util/orte_session_dir
test/util/orte_sys_info
test/util/orte_universe_setup_file_io
test/util/opal_basename
test/util/ompi_numtostr
test/util/ompi_pack
test/util/test-file
test/util/opal_sos
test/util/opal_path_nfs
test/util/opal_path_nfs.out
test/util/opal_bit_ops
