# This file exists to help map usernames to proper names and email addresses
# in the Open MPI github mirror of the canonical SVN repository.  The github
# mirror can be found here:
#
#   https://github.com/open-mpi/ompi-svn-mirror
#
# The format of this file is documented in git-shortlog(1).  Specifically,
# a line like this:
#
#   Proper Name <proper@email.xx> <commit@email.xx>
#
# means that when git sees "commit@email.xx" it will display
# "Proper Name <proper@email.xx>" instead in certain circumstances.  Those
# circumstances include:
#   - git shortlog
#   - git blame
#   - git log --format=tformat:"%aN <%aE>"   (and similar)
#
# A copy of this file should be present on each branch in SVN which is being
# tracked in the Git mirror.

# Jeff accidentally stomped on his $HOME/.gitconfig for a short while:
Jeff Squyres <jsquyres@cisco.com> --quiet <--quiet>

# Commits from people with protected Github account address
Jeff Squyres <jsquyres@cisco.com> <jsquyres@users.noreply.github.com>
George Bosilca <bosilca@icl.utk.edu> <bosilca@users.noreply.github.com>
Howard Pritchard <howardp@lanl.gov> <hppritcha@users.noreply.github.com>
Andrew Friedley <andrew.friedley@intel.com> <afriedle-intel@users.noreply.github.com>
Devendar Bureddy <devendar@mellanox.com> <bureddy@users.noreply.github.com>
Edgar Gabriel <egabriel@central.uh.edu> <edgargabriel@users.noreply.github.com>
Gilles Gouaillardet <gilles@rist.or.jp> <ggouaillardet@users.noreply.github.com>
Matias A Cabral <matias.a.cabral@intel.com> <matcabral@users.noreply.github.com>
Pavel Shamis <shamisp@ornl.gov> <shamisp@ornl.gov>
Pavel Shamis <shamisp@ornl.gov> <shamisp@users.noreply.github.com>
Todd Kordenbrock <thkgcode@gmail.com> <tkordenbrock@users.noreply.github.com>
Yohann Burette <yohann.burette@intel.com> <yburette@users.noreply.github.com>

# Fix what look like accidental name mispellings / common-name-isms
Yossi Itigin <yosefe@mellanox.com> <yosefe@mellanox.com>
Josh Hursey <jjhursey@open-mpi.org> <jjhursey@open-mpi.org>
Adrian Reber <adrian@lisas.de> <adrian@lisas.de>
Elena <elena.elkina@itseez.com> <elena.elkina89@gmail.com>
Howard Pritchard <howardp@lanl.gov> <howardp@lanl.gov>
Igor Ivanov <igor.ivanov.va@gmail.com> <igor.ivanov.va@gmail.com>
Igor Ivanov <Igor.Ivanov@itseez.com> <Igor.Ivanov@itseez.com>
Matias A Cabral <matias.a.cabral@intel.com> <matias.a.cabral@intel.com>
Mangala Jyothi Bhaskar <mjbhaskar@uh.edu> <mjbhaskar@uh.edu>
Mangala Jyothi Bhaskar <mjbhaskar@uh.edu> <mjbhaskar@crill.cs.uh.edu>
Ralph Castain <rhc@open-mpi.org> <rhc@open-mpi.org>
Rolf vandeVaart <rvandevaart@nvidia.com> <rvandevaart@nvidia.com>
Yohann Burette <yohann.burette@intel.com> <yohann.burette@intel.com>
Karol Mroz <mroz.karol@gmail.com> <mroz.karol@gmail.com>
Nadezhda Kogteva <nadezhda.kogteva@itseez.com> <nadezhda@mngx-orion-01.dmz.e2e.mlnx>
Nysal Jan <jnysal@in.ibm.com> <jnysal@in.ibm.com>
Nysal Jan <jnysal@in.ibm.com> <jnysal@gmail.com>
Thananon Patinyasakdikul <apatinya@cisco.com> <apatinya@savbu-usnic-a.cisco.com>
