# make sure we use default numeric formats (only XML outputs are dis-localized when supported)
# we really want to check the distance matrix here (in case it gets truncated or so)
LANG=C
LC_ALL=C
export LANG LC_ALL
