Building LibNBC:
- set the right MPI-c Compilerwrapper in the Makefile (default: mpicc)
- build libnbc.a with 'make'

Linking Programs with LibNBC:
- import nbc.h
- link with -lnbc

Further Information and examples:
- http://www.unixer.de/NBC

SVN Version: r60
