/Makefile
/.deps
/*.bb
/*.bbg
/*.gcda
/*.gcno
/.libs
/.libstamp*
/*.lo
/.*-cache
.state-cache
romio/version.m4
romio/confdb/._l*
romio/confdb/config.rpath
romio/adio/include/romioconf.h.in
!romio/mpi2-other/**/Makefile.in
