name: OneAPI ZE

on: [pull_request]

permissions:
  contents: read

jobs:
  compile-ze:
    runs-on: ubuntu-22.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y --no-install-recommends wget lsb-core software-properties-common gpg curl cmake git
    - name: Build OneAPI ZE  
      # for some reason the build of the level-zero stuff can take a long time
      timeout-minutes: 20
      run: |
        git clone https://github.com/oneapi-src/level-zero.git
        cd level-zero
        mkdir build
        cd build
        cmake ../ -DCMAKE_INSTALL_PREFIX=/opt/ze
        sudo make -j1 install
    - uses: actions/checkout@v4
      with:
            submodules: recursive
    - name: Build Open MPI (VPATH)
      run: |
        ./autogen.pl
        mkdir build
        cd build
        ../configure --prefix=${PWD}/install --disable-mpi-fortran  --disable-oshmem --with-ze --disable-silent-rules
        make -j install
