name: ROCM

on: [pull_request]

permissions:
  contents: read

jobs:
  compile-rocm:
    runs-on: ubuntu-22.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y --no-install-recommends wget lsb-core software-properties-common gpg curl
        sudo apt install -y python3-setuptools python3-wheel
    - name: Install extra dependencies
      run: |
        wget https://repo.radeon.com/amdgpu-install/7.2/ubuntu/jammy/amdgpu-install_7.2.70200-1_all.deb
        sudo apt install -y ./amdgpu-install_7.2.70200-1_all.deb
        sudo amdgpu-install --usecase=rocmdev
    - uses: actions/checkout@v4
      with:
            submodules: recursive
    - name: Build Open MPI
      run: |
        ./autogen.pl
        ./configure --prefix=${PWD}/install --with-rocm=/opt/rocm --disable-mpi-fortran --disable-silent-rules
        LD_LIBRARY_PATH=/opt/rocm/lib make -j
